@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    @apply m-0 p-0 bg-white;
    
  }
}


:root {
  color-scheme: light;
}

body {
  @apply bg-mirika-softGrey text-mirika-graphite antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

