@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 p-0 bg-white font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
  }

  a {
    @apply font-sans;
  }
}

:root {
  color-scheme: light;
}

body {
  @apply bg-mirika-softGrey text-mirika-graphite antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}
