@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-mirika-softGrey text-mirika-graphite antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}
